# hidden config and nuisance files
*.vscode*
*.DS_Store*
*.~lock*
*.directory*

# Byte-compiled / optimized / DLL files
__pycache__/*

# testdata
testdata/*
# Beam_data/*
# NoBeam_data/*

# test and debug files
test.py
test.ipynb
classtest.ipynb
testdata.npy